<div class="download-app">
  <a href="/">
    <img src="assets/images/download_app.png" alt="App download">
  </a>
  <div class="btns">
    <a href="javascript:void(0)">
      <div class="code">
        <i class="iconfont ic-qrcode"></i>
        <span>扫码</span>
      </div>
    </a>
    <a href="/">
      <div class="android">
        <i class="iconfont ic-android"></i>
        <span>安卓</span>
      </div>
    </a>
    <a href="/">
      <div class="ios">
        <i class="iconfont ic-ios"></i>
        <span>iOS</span>
      </div>
    </a>
  </div>
</div>
