<div class="collection">
  <a target="_blank" href="/">
    <img src="http://upload.jianshu.io/collections/images/11/20100120161805563.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/195/h/195" alt="tag">
    <div class="name">短篇小说</div>
  </a>
  <a target="_blank" href="/">
    <img src="http://upload.jianshu.io/collections/images/11/20100120161805563.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/195/h/195" alt="tag">
    <div class="name">短篇小说</div>
  </a>
  <a target="_blank" href="/">
    <img src="http://upload.jianshu.io/collections/images/45/2007112012211889_2.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/195/h/195" alt="tag">
    <div class="name">短篇小说</div>
  </a>
  <a target="_blank" href="/">
    <img src="http://upload.jianshu.io/collections/images/11/20100120161805563.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/195/h/195" alt="tag">
    <div class="name">诗歌</div>
  </a>
  <a target="_blank" href="/">
    <img src="http://upload.jianshu.io/collections/images/288348/6608733_091515549000_2.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/195/h/195" alt="tag">
    <div class="name">大学生活</div>
  </a>
  <a target="_blank" href="/">
    <img src="http://upload.jianshu.io/collections/images/20/%E5%9B%BE.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/195/h/195" alt="tag">
    <div class="name">程序员</div>
  </a>
  <a class="more" target="_blank" href="/">
    <span>更多热门专题</span>
    <i class="iconfont ic-link"></i>
  </a>
</div>
