<div class="collection">
  <a href="/">
    <img src="http://upload.jianshu.io/collections/images/11/20100120161805563.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/195/h/195" alt="tag">
    <div class="name">短篇小说</div>
  </a>
  <a href="/">
    <img src="http://upload.jianshu.io/collections/images/11/20100120161805563.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/195/h/195" alt="tag">
    <div class="name">短篇小说</div>
  </a>
  <a href="/">
    <img src="http://upload.jianshu.io/collections/images/11/20100120161805563.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/195/h/195" alt="tag">
    <div class="name">短篇小说</div>
  </a>
</div>
