@import "../../../theme/theme";

.footer {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: $light;

  a {
    display: inline-block;
    color: $light;
  }

  .icp {
    margin-top: 1rem;
    font-size: $h6-font-size;
    color: rgba($light, .5);

    a {
      color: rgba($light, .5);
    }

    img {
      display: block;
      width: 6rem;
    }
  }

  a:hover, .icp a:hover {
    color: $dark;
  }
}
