// Import utilities
// ----------------------------------
@import "../../scss/utilities/index";


// Collectin
.collection {
  @include flex-box(d-flex, justify-content-center);
  @include sizing(b-minw-lg);
}

// Container
.container {
  @include flex-box(d-flex);
  @include sizing(c-maxw-lg);
  @include spacing(mt-6, mx-4);
}

// Main
.main {
  @include grid(col-md-16);
}

// Main top
.main-top {
  @include flex-box(d-flex, justify-content-between, align-items-center);
  @include spacing(pb-2, mb-6);
}

// Collection meta
.collection-meta {
  @include flex-box(d-flex, align-items-center);
}

.collection-meta__avatar {
  @include display(d-inline-block);
  @include sizing-custom($collection-avatar-width, $collection-avatar-height);
}

.collection-meta__cover {
  @include sizing(wh-100);
  @include border(border-1, solid, rounded-sm);
  @include variant(border-gray-light);
}

.collection-meta__info {
  @include spacing(ml-4);
}

.collection-meta__name {
  @include atoms(
    font-weight-700,
    cursor-pointer
  );
  @include font-size(fs-21);
  @include variant(text-gray-dark);
}

.collection-meta__meta {
  @include font-size(h5);
  @include variant(text-gray);
}

// Button group
.btn-group {
  @include flex-box(d-flex);
}

.btn-group__contribute {
  @include button(
    $size: (fs-15, line-height-38),
    $variant: (text-success, border-success)
  );
  @include border(border-1, solid, rounded-lg);
  @include sizing-custom($collection-btn-width, $collection-btn-height);
}

.btn-group__follow {
  @include button(
    $size: (px-1, fs-15, line-height-38),
    $variant: (text-white, bg-success)
  );
  @include atoms(rounded-lg);
  @include spacing(ml-4);
  @include sizing-custom($collection-btn-width, $collection-btn-height);
}

// Aside
.aside {
  @include grid(col-md-8, col-md-offset-1);
}

.aside__title {
  @include spacing(mb-2);
  @include font-size(h5);
  @include variant(text-gray);
}

// aside section placeholder
%aside-section {
  @include spacing(mb-4, pb-4);
  @include border(border-bottom-1, solid-bottom);
  @include variant(border-gray-lighter);
}

// Description
.description {
  @extend %aside-section;
  @include font-size(fs-14);
}

.description__open {
  @include variant(text-gray);
}

// Share group
.share-group {
  @extend %aside-section;
  @include atoms(line-height-30);
}

.share-group__title {
  @include align(align-middle);
  @include font-size(fs-14);
}

.share-group__item {
  @include spacing(ml-2);
  @include variant(text-gray-dark);
  @include atoms(cursor-pointer);
}

.share-group__icon {
  @include font-size(fs-22);
  @include align(align-middle);
}

// Collection-editor
.collection-editor {
  @extend %aside-section;
}

// Collection follower
.collection-follower {
  @extend %aside-section;

  @include flex-box(d-flex, align-items-center);
  @include sizing-custom($height: 5rem);
}

.collection-follower__item {
  @include spacing(-mx-1);
}

%collection-follower__avatar {
  @include atoms(cursor-pointer);
  @include display(d-block);
  @include sizing-custom(3.2rem, 3.2rem);
}

.collection-follower__avatar {
  @extend %collection-follower__avatar;
}

.collection-follower__img {
  @include sizing(wh-100);
  @include border(border-3, solid, rounded-circle);
  @include variant(border-white);
}

.collection-follower__others {
  @extend %collection-follower__avatar;

  @include atoms(line-height-28);
  @include text(text-center);
  @include border(border-3, solid, rounded-circle);
  @include variant(text-gray, bg-gray-lighter, border-white);
}
