<div class="collection has-header">
  <div class="container">
    <!-- Main -->
    <div class="main">
      <!-- Main top -->
      <div class="main-top">
        <!-- Collection meta -->
        <div class="collection-meta">
          <a class="collection-meta__avatar" href="">
            <img class="collection-meta__cover" src="//upload.jianshu.io/collections/images/11/20100120161805563.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240" alt="cover">
          </a>
          <div class="collection-meta__info">
            <a class="collection-meta__name" href="">短篇小说</a>
            <p class="collection-meta__meta">收录了41013篇文章 · 1046671人关注</p>
          </div>
        </div>
        <!-- Button group -->
        <div class="btn-group">
          <a class="btn-group__contribute" href="/sign_in">投稿</a>
          <a class="btn-group__follow">
            <i class="iconfont ic-follow"></i><span>关注</span>
          </a>
        </div>
      </div>
      <app-thumbnail></app-thumbnail>
      <app-thumbnail></app-thumbnail>
      <app-thumbnail></app-thumbnail>
      <app-thumbnail></app-thumbnail>
      <app-placeholder></app-placeholder>
    </div>
    <!-- Right -->
    <div class="aside">
      <p class="title">专题公告</p>
      <div class="description">
        <p></p><p>借一斑略知全豹 ，以一目尽传精神。</p>
        <p>阅读简书最好看的故事，欢迎订阅官方公众号：茶点故事（jianshu_teahouse）</p>
        <p>投稿须知：
        <br>1.本专题收录各种类型短篇小说，内容须言之有物，无病呻吟者远离。
        <br>2.内容须为原创，结构完整（未完待续及连载小说请勿投）。
        <br>3.字数要求：两千字以上，两万字以下。
        <br>4.文章排版整洁，段落分明，无明显错别字。
        <br>5.文章中（包括开头，结尾处）不得出现个人推广性质的额外链接，例如微信号，微博之类。另外，插入图片须谨慎，与内容无关的图片请勿添...</p><p></p>
        <a class="open" data-action="toggle-description" href="javascript:void(null);">
        展开描述 <i class="iconfont ic-show"></i>
        </a>
      </div>
      <!-- Share group -->
      <div class="share-group">
        <span>分享到</span>
        <a class="">
          <i class="iconfont ic-share-weibo"></i>
        </a>
        <a class="">
          <i class="iconfont ic-share-wechat"></i>
        </a>
        <a class="">
          <i class="iconfont ic-share-more"></i>
        </a>
      </div>
      <p class="title">管理员</p>
      <div class="collection-editor">
        <app-avatar>
          <a class="avatar" routerLink="/" target="_blank">
            <img src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144">
          </a>
          <a class="name" routerLink="/" target="_blank">刘淼</a>
        </app-avatar>
        <app-avatar>
          <a class="avatar" routerLink="/" target="_blank">
            <img src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144">
          </a>
          <a class="name" routerLink="/" target="_blank">刘淼</a>
        </app-avatar>
        <app-avatar></app-avatar>
        <app-avatar></app-avatar>
      </div>
      <p class="title">关注的人(1048662)</p>
      <ul class="collection-follower">
        <li>
          <a href="javascript:void(0)" class="avatar">
            <img src="http://upload.jianshu.io/users/upload_avatars/35363/aa084b453e07?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144">
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="avatar">
            <img src="http://upload.jianshu.io/users/upload_avatars/35363/aa084b453e07?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144">
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="avatar">
            <img src="http://upload.jianshu.io/users/upload_avatars/35363/aa084b453e07?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144">
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="avatar others">
            <i class="iconfont ic-others"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
