@import "../../../theme/theme";
@import "../../../theme/placeholder";

.collection {
  display: flex;
  justify-content: center;
  min-width: $nav-bar-min-width;

}

.container {
  display: flex;
  margin: 0 2rem;
  max-width: $limit-min-width;
  margin-top: 3rem;
}

.main {
  flex: 2;

  .main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;

    .meta {
      display: flex;
      align-items: center;

      .info {
        margin-left: 2rem;

        .name {
          font-size: 2.1rem;
          font-weight: 700;
          color: #333;
          cursor: pointer;
        }

        p {
          margin-top: 1rem;
          font-size: $h5-font-size;
          color: #969696;
        }
      }
    }

    .btn-group {
      display: flex;

      .btn-contribute {
        width: 9rem;
        font-size: 1.5rem;
        border: 1px solid rgba(59,194,29,.7);
        color: #42c02e!important;
        border-radius: 4rem;
      }

      .follow {
        padding: 0 .7rem 0 .5rem;
        font-size: 1.5rem;
        color: #fff;
        background-color: #00bb29;
        border-radius: 4rem;
        width: 10rem;
        margin-left: 0;
      }

    }

    .avatar-collection {
      display: inline-block;
      width: 8rem;
      height: 8rem;
      min-width: 8rem;

      img {
        @extend %responsive-img;
        border: .1rem solid #ddd;
        border-radius: 10%;
      }
    }
  }
}

.aside {
  flex: 1;
  margin-left: 4%;

  .title {
    margin-bottom: 1rem;
    font-size: $h5-font-size;
    color: #969696;
  }

  .description {
    margin-bottom: 20px;
    padding: 0 0 16px;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;

    p {
      margin: 0 0 1rem;
      color: #333;
    }

    .open {
      color: #969696;
      cursor: pointer;
    }
  }

  .share-group {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: .1rem solid #f0f0f0;
    line-height: 3rem;

    span {
      font-size: $h5-font-size;
      vertical-align: middle;
    }

    a {
      margin-left: 1rem;
      color: #333;
      cursor: pointer;
    }

    i {
      font-size: 2.2rem;
      vertical-align: middle;
    }
  }

  .collection-editor {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: .1rem solid #f0f0f0;
  }

  .collection-follower {
    display: flex;
    align-items: center;
    height: 5rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: .1rem solid #f0f0f0;

    li {
      margin: 0 -0.8rem;

      .avatar {
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        cursor: pointer;
      }

      img {
        @extend %radius-img;
        border: .3rem solid #fff;
      }

      .others {
        margin-left: .3rem;
        border: .3rem solid #fff;
        border-radius: 50%;
        background-color: #f0f0f0;
        color: #999;
        text-align: center;
        line-height: 2;
      }
    }
  }


}
