
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495274063920'); /* IE9*/
  src: url('iconfont.eot?t=1495274063920#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495274063920') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495274063920') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495274063920#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before { content: "\e60c"; }

.icon-search:before { content: "\e611"; }

.icon-android:before { content: "\e615"; }

.icon-code:before { content: "\e610"; }

.icon-like:before { content: "\e612"; }

.icon-money:before { content: "\e629"; }

.icon-next1:before { content: "\e609"; }

.icon-comments2:before { content: "\e60a"; }

.icon-iconfontfont:before { content: "\e605"; }

.icon-next:before { content: "\e696"; }

.icon-previous:before { content: "\e697"; }

.icon-write:before { content: "\e68f"; }

.icon-ios:before { content: "\e61a"; }

.icon-view:before { content: "\e732"; }

.icon-discover:before { content: "\e652"; }

.icon-moon:before { content: "\e600"; }

.icon-app-download:before { content: "\e63f"; }

