// Import utilities
// ----------------------------------
@import "../../../scss/utilities/index";

// Rules
// ----------------------------------

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: $nav-bar-min-width;
}

.container {
  margin: 0 2rem;
  @include sizing(maxw-md);;
  margin-top: 3rem;

  img.recommend-author {
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,71%,.2);
    border-radius: .6rem;
  }

  .list-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;

    .wrap {
      flex: 0 0 calc(33.3333% - 30px);
      height: 32rem;
      margin: 8rem 1.5rem auto 1.5rem;
      padding: 0 2rem;
      text-align: center;
      border: .1rem solid #e6e6e6;
      border-radius: .4rem;
      background-color: hsla(0,0%,71%,.1);

      img.avatar {
        display: inline-block;
        width: 8rem;
        height: 8rem;
        margin: -4rem 0 1rem;
        border: .1rem solid #ddd;
        background-color: #fff;
        border-radius: 50%;
      }

      h4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 21px;
        font-weight: 700;
        color: #333;
      }

      p {
        margin: 0 auto 1rem;
        max-width: 18rem;
        line-height: 2.5rem;
        font-size: 1.3rem;
        color: #333;
      }

      .follow {
        display: inline-block;
        margin: 0 auto;
        padding: 0 .7rem 0 .5rem;
        width: 10rem;
        text-align: center;
        font-size: $font-size-h6;
        color: $body-bg;
        background-color: $secondary;
        border-radius: 4rem;

        i {
          font-size: $font-size-h5;
        }

        span {
          font-size: 1.6rem;
        }
      }

      hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 0;
        border-top: .1rem solid #eee;
      }

      .meta {
        float: left;
        margin-top: -2.8rem;
        padding-right: 1rem;
        font-size: $font-size-h6;
        color: #969696;
        background-color: #f8f8f8;
      }

      .new {
        display: block;
        font-size: 1.3rem;
        line-height: 2.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333;
      }
    }

  }
}
