<div class="collection has-header">
  <div class="container">
    <img class="recommend-author" src="assets/images/recommend_author.png" alt="recommend-author">
    <div class="list-container">
      <div class="wrap">
        <a target="_blank" href="/users/5SqsuF">
          <img class="avatar" src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
          <h4 class="name">刘淼</h4>
          <p class="description">关注公众号“茶点故事”，每天一个好故事。...</p>
        </a>
        <a class="btn follow">
          <i class="iconfont ic-follow"></i><span>关注</span>
        </a>
        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/e281a668b784">江湖最后一位笑星（七十三）</a>
          <a class="new" target="_blank" href="/p/37b19b386083">江湖最后一位笑星（七十二）</a>
          <a class="new" target="_blank" href="/p/190e1330467a">江湖最后一位笑星（七十一）</a>
        </div>
      </div>
      <div class="wrap">
        <a target="_blank" href="/users/5SqsuF">
          <img class="avatar" src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
          <h4 class="name">刘淼</h4>
          <p class="description">关注公众号“茶点故事”，每天一个好故事。...</p>
        </a>
        <a class="btn follow">
          <i class="iconfont ic-follow"></i><span>关注</span>
        </a>
        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/e281a668b784">江湖最后一位笑星（七十三）</a>
          <a class="new" target="_blank" href="/p/37b19b386083">江湖最后一位笑星（七十二）</a>
          <a class="new" target="_blank" href="/p/190e1330467a">江湖最后一位笑星（七十一）</a>
        </div>
      </div>
      <div class="wrap">
        <a target="_blank" href="/users/5SqsuF">
          <img class="avatar" src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
          <h4 class="name">刘淼</h4>
          <p class="description">关注公众号“茶点故事”，每天一个好故事。...</p>
        </a>
        <a class="btn follow">
          <i class="iconfont ic-follow"></i><span>关注</span>
        </a>
        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/e281a668b784">江湖最后一位笑星（七十三）</a>
          <a class="new" target="_blank" href="/p/37b19b386083">江湖最后一位笑星（七十二）</a>
          <a class="new" target="_blank" href="/p/190e1330467a">江湖最后一位笑星（七十一）</a>
        </div>
      </div>
      <div class="wrap">
        <a target="_blank" href="/users/5SqsuF">
          <img class="avatar" src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
          <h4 class="name">刘淼</h4>
          <p class="description">关注公众号“茶点故事”，每天一个好故事。...</p>
        </a>
        <a class="btn follow">
          <i class="iconfont ic-follow"></i><span>关注</span>
        </a>
        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/e281a668b784">江湖最后一位笑星（七十三）</a>
          <a class="new" target="_blank" href="/p/37b19b386083">江湖最后一位笑星（七十二）</a>
          <a class="new" target="_blank" href="/p/190e1330467a">江湖最后一位笑星（七十一）</a>
        </div>
      </div>
      <div class="wrap">
        <a target="_blank" href="/users/5SqsuF">
          <img class="avatar" src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
          <h4 class="name">刘淼</h4>
          <p class="description">关注公众号“茶点故事”，每天一个好故事。...</p>
        </a>
        <a class="btn follow">
          <i class="iconfont ic-follow"></i><span>关注</span>
        </a>
        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/e281a668b784">江湖最后一位笑星（七十三）</a>
          <a class="new" target="_blank" href="/p/37b19b386083">江湖最后一位笑星（七十二）</a>
          <a class="new" target="_blank" href="/p/190e1330467a">江湖最后一位笑星（七十一）</a>
        </div>
      </div>
    </div>
  </div>
</div>

