<div class="recommendation has-header">
  <div class="container">
    <!-- Left -->
    <div class="main">
      <div class="main-top">
        <img class="banner" src="assets/images/new_hot.png" alt="hot">
      </div>
      <app-thumbnail></app-thumbnail>
      <app-thumbnail></app-thumbnail>
      <app-thumbnail></app-thumbnail>
      <app-thumbnail></app-thumbnail>
      <app-placeholder></app-placeholder>
    </div>
    <!-- Right -->
    <div class="aside">
      <div class="collection-editor">
        <app-avatar>
          <a class="avatar" routerLink="/" target="_blank">
            <img src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144">
          </a>
          <a class="name" routerLink="/" target="_blank">刘淼</a>
        </app-avatar>
        <app-avatar>
          <a class="avatar" routerLink="/" target="_blank">
            <img src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144">
          </a>
          <a class="name" routerLink="/" target="_blank">刘淼</a>
        </app-avatar>
        <app-avatar></app-avatar>
        <app-avatar></app-avatar>
      </div>
    </div>
  </div>
</div>
