<div class="board">
  <a target="_blank" href="">
    <img src="//cdn2.jianshu.io/assets/web/banner-s-1-b8ff9ec59f72ea88ecc8c42956f41f78.png" alt="Banner s 1">
  </a>
  <a target="_blank" href="">
    <img src="//cdn2.jianshu.io/assets/web/banner-s-2-0ca33954547a07153f9cccd5eddbad42.png" alt="Banner s 2">
  </a>
  <a target="_blank" href="">
    <img src="//cdn2.jianshu.io/assets/web/banner-s-3-7123fd94750759acf7eca05b871e9d17.png" alt="Banner s 3">
  </a>
  <a target="_blank" href="">
    <img src="//cdn2.jianshu.io/assets/web/banner-s-4-b70da70d679593510ac93a172dfbaeaa.png" alt="Banner s 4">
  </a>
  <a utm_medium="index-banner-s" target="_blank" href="">
    <img src="//cdn2.jianshu.io/assets/web/banner-s-5-2e1d9a955935a69fecc6e8ab2a8d3dcc.png" alt="Banner s 5">
  </a>
</div>
