<div class="board">
  <a target="_blank" href="">
    <img src="assets/images/banner_s_1.png" alt="Banner1">
  </a>
  <a target="_blank" href="">
    <img src="assets/images/banner_s_2.png" alt="Banner2">
  </a>
  <a target="_blank" href="">
    <img src="assets/images/banner_s_3.png" alt="Banner3">
  </a>
  <a target="_blank" href="">
    <img src="assets/images/banner_s_4.png" alt="Banner4">
  </a>
  <a target="_blank" href="">
    <img src="assets/images/banner_s_5.png" alt="Banner5">
  </a>
</div>
