@import "../../../theme/variables.scss";

.board {
  img {
    width: 100%;
    height: 5rem;
    min-height: 4rem;
    margin-bottom: .6rem;
    vertical-align: middle;
    border-radius: $btn-default-border-radius;
  }
}
