<div class="user has-header">
  <div class="container">
    <!-- Left -->
    <div class="main">
      <div class="main-top">
        <div class="meta">
          <a class="avatar-collection" href="/c/dqfRwQ">
            <img src="//upload.jianshu.io/collections/images/11/20100120161805563.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240" alt="240">
          </a>
          <div class="info">
            <a class="name" href="/c/dqfRwQ">短小说</a>
            <span class="author-tag">
              <i class="iconfont ic-write"></i> 签约作者
            </span>
            <ul class="meta-list">
              <li>
                <a href="">
                  <p>899</p>
                  关注<i class="iconfont ic-arrow"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <p>52659</p>
                  粉丝<i class="iconfont ic-arrow"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <p>328</p>
                  文章<i class="iconfont ic-arrow"></i>
                </a>
              </li>
              <li>
                <p>374316</p>
                <div>字数</div>
              </li>
              <li>
                <p>18205</p>
                <div>收获喜欢</div>
              </li>
            </ul>

          </div>
        </div>
        <div class="btn-group">
          <a class="btn btn-contribute" href="/sign_in">发简信</a>
          <a class="btn follow">
            <i class="iconfont ic-follow"></i><span>关注</span>
          </a>
        </div>
      </div>
      <app-thumbnail></app-thumbnail>
      <app-thumbnail></app-thumbnail>
      <app-thumbnail></app-thumbnail>
      <app-thumbnail></app-thumbnail>
      <app-placeholder></app-placeholder>
    </div>
    <!-- Right -->
    <div class="aside">
      <p class="title">个人介绍</p>
      <div class="description">
        <div class="js-intro">
          关注公众号“茶点故事”，每天一个好故事。<br><br>
          关注公众号“简书大学堂”，周周有福利。<br><br>
          简书每天早上九点准时更新<br><br>
          《笑话方法论》——你能你幽默：<br>
        </div>
        <a class="social-icon-sprite social-icon-index" target="_blank" href=""></a>
        <a class="social-icon-sprite social-icon-weixin" href="javascript:void(0);"></a>
      </div>
      <ul class="user-dynamic">
        <li>
          <a href="">
            <i class="iconfont ic-collection"></i>
            <span>他关注的专题/文集</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="iconfont ic-like"></i>
            <span>他喜欢的文章</span>
          </a>
        </li>
      </ul>
      <p class="title">他参与管理的专题</p>
      <ul class="collection-list">
        <li>
          <a href="/c/2e6b5e38e195" target="_blank" class="avatar-collection">
            <img src="//upload.jianshu.io/collections/images/347480/hammer47.png?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96">
          </a>
          <a href="/c/2e6b5e38e195" target="_blank" class="name">简书全栈运营课第一期</a>
        </li>
        <li>
          <a href="/c/39025236f4bf" target="_blank" class="avatar-collection">
            <img src="//upload.jianshu.io/collections/images/33663/01300000100329121117670244277.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96">
          </a>
          <a href="/c/39025236f4bf" target="_blank" class="name">契诃夫</a>
        </li>
        <li>
          <a href="/c/f0272b32bc8c" target="_blank" class="avatar-collection">
            <img src="//upload.jianshu.io/collections/images/33657/20300001211516131659806789952.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96">
          </a>
          <a href="/c/f0272b32bc8c" target="_blank" class="name">何伟</a>
        </li>
        <li>
          <a href="/c/0b8512dae213" target="_blank" class="avatar-collection">
            <img src="//upload.jianshu.io/collections/images/33654/1327692079-4111855779_l.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96">
          </a>
          <a href="/c/0b8512dae213" target="_blank" class="name">卡尔维诺</a>
        </li>
        <li>
          <a href="/c/cce6285a0c51" target="_blank" class="avatar-collection">
            <img src="//upload.jianshu.io/collections/images/33651/500.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96">
          </a>
          <a href="/c/cce6285a0c51" target="_blank" class="name">博尔赫斯</a>
        </li>
        <li>
          <a href="/c/4db260078d17" target="_blank" class="avatar-collection">
            <img src="//upload.jianshu.io/collections/images/29044/20070601100716547a1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96">
          </a>
          <a href="/c/4db260078d17" target="_blank" class="name">那些《西游记》不曾告诉你的事</a>
        </li>
        <li>
          <a href="/c/f1eddcd08c38" target="_blank" class="avatar-collection">
            <img src="//upload.jianshu.io/collections/images/28678/U12868P18DT20151102171527.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96">
          </a>
          <a href="/c/f1eddcd08c38" target="_blank" class="name">钟书阁</a>
        </li>
        <li>
          <a href="/c/a9285c3ca62b" target="_blank" class="avatar-collection">
            <img src="//upload.jianshu.io/collections/images/28580/s28019967.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96">
          </a>
          <a href="/c/a9285c3ca62b" target="_blank" class="name">丢书大作战</a>
        </li>
        <li>
          <a href="/c/36b21d9d9473" target="_blank" class="avatar-collection">
            <img src="//upload.jianshu.io/collections/images/27744/pexels-photo-3.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96">
          </a>
          <a href="/c/36b21d9d9473" target="_blank" class="name">不要输在不会写作上</a>
        </li>
        <li>
          <a href="/c/dd3a810d98e7" target="_blank" class="avatar-collection">
            <img src="//upload.jianshu.io/collections/images/27743/enhanced-532-1448335631-1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96">
          </a>
          <a href="/c/dd3a810d98e7" target="_blank" class="name">我看日本</a>
        </li>
      </ul>
      <p class="title">他的文集</p>
      <ul class="note-list">
        <li>
          <a href="/c/f0272b32bc8c" target="_blank" class="name">
            <i class="iconfont ic-search-notebook"></i>
            <span class="name">卡尔维诺</span>
          </a>
        </li>
        <li>
          <a href="/c/f0272b32bc8c" target="_blank" class="name">
            <i class="iconfont ic-search-notebook"></i>
            <span class="name">卡尔维诺</span>
          </a>
        </li>
        <li>
          <a href="/c/f0272b32bc8c" target="_blank" class="name">
            <i class="iconfont ic-search-notebook"></i>
            <span class="name">卡尔维诺</span>
          </a>
        </li>
        <li>
          <a href="/c/f0272b32bc8c" target="_blank" class="name">
            <i class="iconfont ic-search-notebook"></i>
            <span class="name">卡尔维诺</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
