// Import utilities
// ----------------------------------
@import "../../scss/utilities/index";

// Rules
// ----------------------------------

.thumbnail {
  @include position(relative);
  margin: 0 0 1.7rem;
  padding: 0 .2rem 1.7rem 0;
  border-bottom: .1rem solid rgba($light, .2);
  word-wrap: break-word;
}

.have-img {
  .content {
    padding-right: 16rem;
  }
}

.wrap-img {
  @include position(absolute, $top: 50%, $right: 0);
  margin-top: -6.8rem;
  width: 15rem;
  height: 12rem;

  img {
    @extend %responsive-img;
    vertical-align: middle;
    border-radius: $btn-default-border-radius;
  }
}

.content {
  .author {
    margin-bottom: 1.4rem;
    font-size: $font-size-base;

    .avatar {
      display: inline-block;
      width: 3.2rem;
      height: 3.2rem;
      margin: 0 .5rem 0 0;
      vertical-align: middle;
    }

    img {
      @extend %radius-img;
      box-sizing: border-box;
    }

    .name {
      display: inline-block;
      vertical-align: middle;
      color: $dark;

      a {
        color: $dark;
      }
    }

    .time {
      display: inline-block;
      padding-left: .3rem;
      color: $light;
    }
  }

  .title {
    display: inherit;
    margin: -0.7rem 0 .4rem;
    line-height: 1.5;
    font-size: $h4-font-size;
    font-weight: 700;
    color: $dark;

    &:hover {
      text-decoration: underline;
    }
  }

  .abstract {
    margin: 0 0 .8rem;
    font-size: $font-size-base;
    line-height: 2.4rem;
    color: $dark;
  }

  .meta {
    font-size: $h6-font-size;
    font-weight: 400;
    line-height: 2rem;

    a {
      margin-right: 1rem;
      color: rgba($light, .6);
    }

    .tag {
      padding: .2rem .6rem;
      color: $primary;
      border: .1rem solid $primary;
      border-radius: $btn-default-border-radius;
    }
  }
}
