<li class="thumbnail have-img">
  <a class="wrap-img" href="/" target="_blank">
    <img src="//upload-images.jianshu.io/upload_images/1392170-db6b9b1ba22b472f.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="cover">
  </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/">
        <img src="http://upload.jianshu.io/users/upload_avatars/1073105/3f532a475831.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="cover">
      </a>
      <div class="name">
        <a target="_blank" href="/">爱生活的马克君</a>
        <span class="time">5 小时前</span>
      </div>
    </div>
    <a class="title" target="_blank" href="/">五款共享单车大实测！</a>
    <p class="abstract">
      年后刚回杭州的时候，共享单车还是个新奇玩意儿，短短三个月过去，大家早就对大小街边停满的共享单车见怪不怪。 作为一个热爱低碳生活的好青年，共享单车的出现确实给我的短距离出行带来...
    </p>
    <div class="meta">
      <a class="tag" target="_blank" href="/">@产品</a>
      <a target="_blank" href="/">
        <i class="iconfont ic-list-read"></i> 1273
      </a>
      <a target="_blank" href="/">
        <i class="iconfont ic-list-comments"></i> 12
      </a>
      <a href="/">
        <i class="iconfont ic-list-like"></i> 12
      </a>
      <a href="/">
        <i class="iconfont ic-list-money"></i> 1
      </a>
    </div>
  </div>
</li>
