// Import utilities
// ----------------------------------
@import "../../scss/utilities/index";

// Rules
// ----------------------------------

.avatar {
  @include position(relative);
  display: flex;
  line-height: 2rem;
  margin-top: 1.5rem;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// Penetrates the host element and sets the insertion element style
:host /deep/ {
  a.avatar {
    margin-right: 1rem;
    width: 4.8rem;
    height: 4.8rem;

    img {
      @extend %border-radius-img;
    }
  }

  .tag {
    margin-right: .6rem;
    padding: .1rem .2rem;
    @include font-size(h6);
    color: $primary;
    border: .1rem solid $primary;
    border-radius: .3rem;
  }

  a.name {
    display: inline-block;
    margin-right: .6rem;
    padding-top: .5rem;
    font-size: $font-size-base;
    color: $gray-dark;
  }

  .follow {
    display: inline-block;
    padding: 0 .7rem 0 .5rem;
    text-align: center;
    @include font-size(h6);
    color: $body-bg;
    @include colors(bg-success);
    border-radius: 4rem;
  }

  .meta {
    margin-top: .2rem;
    @include font-size(h6);
    color: $gray-light;
  }
}

:host(.article-author), :host(.author-detail) {
  .name {
    a.name {
      font-size: $avatar-name-font-size;
    }
  }
}

:host(.author-detail) /deep/ {
  .follow {
    @include position(absolute, $right: 0);
    padding: 1rem 0;
    width: 10rem;
    font-size: $avatar-name-font-size;
  }

  .ic-man {
    @include colors(text-info);
    font-size: $avatar-name-font-size;
  }
}
