// Import utilities
// ----------------------------------
@import "../../scss/utilities/index";

// Rules
// ----------------------------------

.download-app {
  @include position(relative);
  margin: 1rem 0 3rem 0;
  box-sizing: border-box;

  img {
    width: 100%;
  }

  .btns {
    @include position(absolute, $left: 0, $right: 0);
    bottom: 1rem;
    display: flex;
    padding: .5rem;

    a {
      width: 33.33%;
      padding: 0 1rem;
      @include font-size(h5);
      color: $body-bg;
      text-align: center;
      line-height: 3rem;
    }

    div {
      padding: .3rem;
      border-radius: $btn-default-border-radius;
    }

    span {
      vertical-align: middle;
    }

    .code {
      background-color: rgba($gray-light, .8);
    }

    .android {
      background-color: #8bc453;
    }

    .ios {
      background-color: #6dacf4;
    }
  }
}
