@import "../../../theme/variables";
@import "../../../theme/utilities/_mixin";
@import "../../../theme/utilities/_placeholder";

.avatar {
  @include position(relative);
  display: flex;
  line-height: 2rem;
  margin-top: 1.5rem;
}

.avatar-img {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 1rem;

  img {
    @extend %border-radius-img;
  }
}

.meta {
  .name {
    display: block;
    padding-top: .5rem;
    font-size: $avatar-font-size;
    font-weight: 700;
    color: $dark;
  }

  p {
    margin-top: .2rem;
    font-size: $h6-font-size;
    color: $light;
  }
}

.follow {
  @include position(absolute, $right: 0);
  margin-top: .5rem;
  font-size: $h6-font-size;
  font-weight: 400;
  color: $secondary;
}
