<li class="avatar">
  <ng-content select=".avatar"></ng-content>
  <div class="info">
    <div class="name">
      <!--左标签-->
      <ng-content select=".tag"></ng-content>
      <!--名字-->
      <ng-content select=".name"></ng-content>
      <!--右标签-->
      <ng-content select=".iconfont"></ng-content>
      <!--关注按钮-->
      <a class="follow">
        <i class="iconfont ic-follow"></i>关注
      </a>
    </div>
    <div class="meta">
      <!--<ng-content select=".meta"></ng-content>-->
      写了321.6K字 · 17.2K喜欢
    </div>
  </div>
</li>
