/*global styles*/
@import "./variables";

$headings: (
  h1: $h1-font-size,
  h2: $h2-font-size,
  h3: $h3-font-size,
  h4: $h4-font-size,
  h5: $h5-font-size,
  h6: $h6-font-size
);

// Headings
@each $h, $s in $headings {
  #{$h} {
    font-size: $s;
  }
}

.has-header {
  margin-top: $nav-bar-height;
}

.hide {
  display: none;
}
