// Global style
// --------------------------------------------------

@import "./theme";
@import "./placeholder";

// App Structure
// --------------------------------------------------

* {
  box-sizing: border-box;
}

// All font sizes use rem units
// By default, 1rem equals 10px. For example, 1.4rem  === 14px
// $font-size-root value, which is on the <html> element
// is what can scale all fonts

html {
  width: 100%;
  height: 100%;

  font-size: $font-size-root;
}

body {
  width: 100%;
  max-width: 100%;

  min-width: $nav-bar-min-width;

  height: 100%;
  max-height: 100%;

  font-family: $font-family-base;
  font-size: $font-size-base;
}

// Font size of heading
// --------------------------------------------------

$headings: (
  h1: $h1-font-size,
  h2: $h2-font-size,
  h3: $h3-font-size,
  h4: $h4-font-size,
  h5: $h5-font-size,
  h6: $h6-font-size
);

@each $h, $s in $headings {
  #{$h} {
    font-size: $s;
  }
}

// Misc
// --------------------------------------------------

.has-header {
  margin-top: $nav-bar-height;
}

.hide {
  display: none;
}

.icon {
  margin-right: .5rem;
  font-size: $icon-font-size;
  line-height: normal;
}

.btn {
  display: inline-block;
  line-height: $btn-default-height;
  margin: $btn-default-margin;
  border-radius: $btn-default-border-radius;
  font-size: $btn-default-font-size;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

// Utilities
// --------------------------------------------------

// Typography
// --------------------------------------------------

p {
  line-height: $baseLineHeight;

  @extend %base-spacing;
}


// Spacing helpers
// --------------------------------------------------

// p,m = padding,margin
// a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
// s,m,l,n = small(5px),medium(10px),large(20px),none(0px)

.mvl {
  margin: 2rem 0;
}

.mhl {
  margin: 0 2rem;
}

.pvl {
  padding: 2rem 0;
}

.phl {
  padding: 0 2rem;
}

.ptl {
  padding-top: 2rem;
}

.mbl {
  margin-bottom: 2rem;
}

.pvm {
  padding: 2rem 0;
}

.phm {
  padding: 0 2rem;
}

// Grid
// --------------------------------------------------

.size1of1 {
  width: 100%;
}

.size1of2 {
  width: 50%;
}

.size1of3 {
  width: 33.33333%;
}

.size2of3{
  width: 66.66667%;
}

// col 24

.col-sm-1 {
  width: 4.16667%;
}

.col-sm-16 {
  width: 66.66667%;
}

.col-sm-7 {
  width: 29.16667%;
}

.col-sm-offset-1 {
  margin-left: 4.16667%;
}
