/*global styles*/
@import "./variables";

$headings: (
  h1: $h1-font-size,
  h2: $h2-font-size,
  h3: $h3-font-size,
  h4: $h4-font-size,
  h5: $h5-font-size,
  h6: $h6-font-size
);

// Headings
@each $h, $s in $headings {
  #{$h} {
    font-size: $s;
  }
}

body {
  min-width: $nav-bar-min-width;
}

.has-header {
  margin-top: $nav-bar-height;
}

.hide {
  display: none;
}

.icon {
  margin-right: .5rem;
  font-size: $icon-font-size;
  line-height: normal;
}

.btn {
  display: inline-block;
  height: $btn-default-height;
  line-height: $btn-default-height;
  margin: $btn-default-margin;
  border-radius: $btn-default-border-radius;
  font-size: $btn-default-font-size;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
