// Global style
// --------------------------------------------------

@import "./theme";

// Font size of heading

$headings: (
  h1: $h1-font-size,
  h2: $h2-font-size,
  h3: $h3-font-size,
  h4: $h4-font-size,
  h5: $h5-font-size,
  h6: $h6-font-size
);

@each $h, $s in $headings {
  #{$h} {
    font-size: $s;
  }
}

// App Structure
// --------------------------------------------------

* {
  box-sizing: border-box;
}

// All font sizes use rem units
// By default, 1rem equals 10px. For example, 1.4rem  === 14px
// $font-size-root value, which is on the <html> element
// is what can scale all fonts

html {
  font-size: $font-size-root;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  min-width: $nav-bar-min-width;
}

.has-header {
  margin-top: $nav-bar-height;
}

.hide {
  display: none;
}

.icon {
  margin-right: .5rem;
  font-size: $icon-font-size;
  line-height: normal;
}

.btn {
  display: inline-block;
  line-height: $btn-default-height;
  margin: $btn-default-margin;
  border-radius: $btn-default-border-radius;
  font-size: $btn-default-font-size;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
