@import "./theme";

// Img
%responsive-img {
  width: 100%;
  height: 100%;
}

%radius-img {
  @extend %responsive-img;
  border-radius: 50%;
}

%border-radius-img {
  @extend %radius-img;
  border: .1rem solid rgba($light, .2);
}

// Button
%default-button {
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding: 1.2rem 1.8rem;
  font-size: $h4-font-size;
  color: $background-color;
  background: $primary;
  border: none;
  outline: none;
  border-radius: $btn-default-border-radius;
}

// Box center
%box-center {
  margin-left: auto;
  margin-right: auto;
}

// Flex box align center
%block-center {
  display: flex;
  justify-content: center;
}

%block-between {
  display: flex;
  justify-content: space-between;
}

// Separator
%separator {
  margin: -0.5rem 0 1.5rem;
  border-top: .1rem solid rgba($light, .2);
}

// Note post content width
%post-content-width {
  width: $post-limit-width;
}

// Base spacing
%base-spacing {
  margin-top: $baseSpacing;
  margin-bottom: $baseSpacing;
}

// Spacing
// --------------------------------------------------

// p,m = padding,margin
// a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
// s,m,l,n = small(.5rem),medium(1rem),large(2rem),none(0)

// large(2rem)
%mvl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

%mhl {
  margin-left: 2rem;
  margin-right: 2rem;
}

%pvl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

%phl {
  padding-left: 2rem;
  padding-right: 2rem;
}

%ptl {
  padding-top: 2rem;
}

%mbl {
  margin-bottom: 2rem;
}

%mtl {
  margin-top: 2rem;
}

%mrl {
  margin-right: 2rem;
}

// medium(1rem)
%pvm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

%phm {
  padding-left: 1rem;
  padding-right: 1rem;
}

%mbm {
  margin-bottom: 1rem;
}


// Grid
// --------------------------------------------------

%size1of1 {
  width: 100%;
}

%size1of2 {
  width: 50%;
}

%size1of3 {
  width: 33.33333%;
}

%size2of3{
  width: 66.66667%;
}

// col 24

%col-sm-1 {
  width: 4.16667%;
}

%col-sm-16 {
  width: 66.66667%;
}

%col-sm-7 {
  width: 29.16667%;
}

%col-sm-offset-1 {
  margin-left: 4.16667%;
}
