/*Reset styles*/

html {
  // font-size: 62.5%;
  font-size: 10px;
}

html, body, a, h1, h2, h3, h4, h5, h6,
div, ul, li, span, p, img, b, i, form, label, article,
aside, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

