// Shared Variables
// --------------------------------------------------

// Color
$primary: #ea6f5a;
$secondary:#feca28;
$danger: #f53d3d;
$light: #969696;
$black: #1a1a1a;
$dark: #333;
$white: #fff;
$transparent: rgba(0, 0 , 0, 0);

// Nav
$nav-bar-height: 5.6rem;
$nav-bar-min-width: 76.8rem;
$nav-bar-max-width: 144rem;

// Limit
$limit-min-width: 96rem;

// Btn
$btn-default-height: 3.8rem;
$btn-default-margin-left: 1.5rem;
$btn-default-padding-left: 1.5rem;
$btn-default-margin: .8rem $btn-default-margin-left;
$btn-default-border-radius: .4rem;