// Import utilities
// ----------------------------------
@import "../../../theme/scss/utilities/index";

// Rules
// ----------------------------------

.carousel {
  img {
    width: 100%;
    height: 100%;
    max-width: 960px;
  }
}
