// Import utilities
// ----------------------------------
@import "../../scss/utilities/index";

// Rules
// ----------------------------------

.nav-bar {
  @include position(fixed, $top: 0);
  width: 100%;
  box-sizing: border-box;
  height: $nav-bar-height;
  overflow: hidden;
  background-color: $background-color;
  border-bottom: solid .1rem #f0f0f0;
  z-index: 999;
}

.width-limit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: $nav-bar-min-width;
  max-width: $nav-bar-max-width;
  height: $nav-bar-height;
  margin: 0 auto;
}

.logo {
  flex: 1.5;

  a {
    display: inline-block;
    height: $nav-bar-height;
  }

  img {
    margin: $btn-default-margin-left;
    width: 5.5rem;
  }
}

.collapse {
  display: flex;
  flex: 6;
  align-items: center;
  height: $nav-bar-height;

  li {
    height: $nav-bar-height;
    margin-right: 1rem;
  }

  a {
    display: block;
    padding: $btn-default-padding-left;
    font-size: $h4-font-size;
    color: $dark;
  }

  .active {
    color: $primary;
  }
}

.search {
  display: flex;
  align-items: center;
}

.login {
  color: $light;
}

.sign-up {
  margin-right: 0;
  width: 8rem;
  color: $primary;
  border: .1rem solid $primary;
}

.write-btn {
  width: 10rem;
  color: $background-color;
  border: .1rem solid $primary;
  background-color: $primary;
}
