<nav class="nav-bar">
  <div class="width-limit">
    <div class="logo">
      <a href="/"><img src="assets/images/logo_jianshu.png" alt="logo"></a>
    </div>
    <ul class="collapse">
      <li>
        <a class="active" href="/">
          <i class="icon iconfont ic-navigation-discover"></i>
          <span>发现</span>
        </a>
      </li>
      <li>
        <a href="/">
          <i class="icon iconfont ic-navigation-download"></i>
          <span>下载App</span>
        </a>
      </li>
      <li class="search">搜索</li>
    </ul>
    <div>
      <a class="btn login" href="/">登录</a>
      <a class="btn sign-up" routerLink="/signup">注册</a>
      <a class="btn write-btn" href="/"><i class="icon iconfont ic-write"></i>写文章</a>
    </div>
  </div>
</nav>
