<div class="footer">
  <a target="_blank" href="/">关于简书</a><em> · </em>
  <a target="_blank" href="/">联系我们</a><em> · </em>
  <a target="_blank" href="/">加入我们</a><em> · </em>
  <a target="_blank" href="/">作者成书计划</a><em> · </em>
  <a target="_blank" href="/">帮助中心</a><em> · </em>
  <a target="_blank" href="/">合作伙伴</a>
  <div class="icp">
    ©2012-2017 上海佰集信息科技有限公司 / Tel:021-61995350 / 简书 / 沪ICP备11018329号-5 /
    <a target="_blank" href="/">沪公网安备31010602000064号</a>
    <img src="assets/images/smrz.png" alt="smrz">
  </div>
</div>
