// Import utilities
// ----------------------------------
@import "../../../theme/scss/utilities/index";

// Rules
// ----------------------------------

.footer {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: $gray-light;

  a {
    display: inline-block;
    color: $gray-light;
  }

  .icp {
    margin-top: 1rem;
    @include font-size(h6);
    color: rgba($gray-light, .5);

    a {
      color: rgba($gray-light, .5);
    }

    img {
      display: block;
      width: 6rem;
    }
  }

  a:hover, .icp a:hover {
    color: $gray-dark;
  }
}
