// Import utilities
// ----------------------------------
@import "../../scss/utilities/index";

// Rules
// ----------------------------------

@keyframes loading {
  0% {
    width: 60%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 60%;
  }
}

@keyframes shortLoading {
  0% {
    width: 20%;
  }

  50% {
    width: 40%;
  }

  100% {
    width: 20%;
  }
}

.placeholder {
  @include position(relative);
  padding: 0 .2rem 0 0;
  margin-bottom: 5rem;

  .img {
    @include position(absolute, $bottom: 2.3rem, $right: 0);
    width: 15rem;
    height: 12rem;
    border-radius: $btn-default-border-radius;
    background-color: rgba($light, .23);
  }

  .content {
    padding-right: 16rem;

    .author {
      margin-bottom: 1rem;
    }

    .avatar {
      display: inline-block;
      width: 3.4rem;
      height: 3.4rem;
      margin: 0 .5rem 0 0;
      vertical-align: middle;
      border-radius: 100%;
      background-color: rgba($light, .23);
    }

    .name {
      display: inline-block;
      width: 20%;
      height: 1.6rem;
      vertical-align: middle;
      background-color: rgba($light, .23);
    }

    .title {
      width: 50%;
      height: 2rem;
      margin: 0 0 1.5rem;
      background-color: rgba($light, .23);
    }

    .text {
      width: 100%;
      height: 1.6rem;
      margin: 0 0 1rem;
      background-color: rgba($light, .23);
      animation: loading 1s ease-in-out infinite;
    }

    .delay {
      animation: loading 1s ease-in-out -.5s infinite;
    }

    .short-text {
      width: 40%;
      animation: shortLoading 1s ease-in-out infinite
    }

    .meta {
      font-size: $h6-font-size;
      color: rgba($light, .23);

      i {
        margin: 0 .5rem;
        vertical-align: middle;
      }

      div {
        display: inline-block;
        height: 1.6rem;
        vertical-align: middle;
        background-color: rgba($light, .23);
      }

      .view {
        width: 5rem;
      }

      .small {
        width: 3rem;
      }
    }
  }
}
