// Horizontal center
%center-horizontal {
  margin-left: auto;
  margin-right: auto;
}

// Flex box align center
%flex-center-horizontal {
  display: flex;
  justify-content: center;
}

// Base spacing
%base-spacing {
  margin-top: $baseSpacing;
  margin-bottom: $baseSpacing;
}

// Spacing
// --------------------------------------------------

// p, m = padding, margin
// a, t, r, b, l, h, v = all, top, right, bottom, left, horizontal, vertical
// s, m, l, n = small(.5rem), medium(1rem), large(2rem), none(0)
// - = negative(-)

// large(2rem)
%pal {
  padding: 2rem
}

%mal {
  margin: 2rem;
}

%mvl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

%mhl {
  margin-left: 2rem;
  margin-right: 2rem;
}

%pvl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

%phl {
  padding-left: 2rem;
  padding-right: 2rem;
}

%ptl {
  padding-top: 2rem;
}

%prl {
  padding-right: 2rem;
}

%pll {
  padding-left: 2rem;
}

%pbl {
  padding-bottom: 2rem;
}

%mbl {
  margin-bottom: 2rem;
}

%mtl {
  margin-top: 2rem;
}

%mrl {
  margin-right: 2rem;
}

// medium(1rem)
%pvm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

%phm {
  padding-left: 1rem;
  padding-right: 1rem;
}

%ptm {
  padding-top: 1rem;
}

%prm {
  padding-right: 1rem;
}

%plm {
  padding-left: 1rem;
}

%pbm {
  padding-bottom: 1rem;
}

%mhm {
  margin-left: 1rem;
  margin-right: 1rem;
}

%mtm {
  margin-top: 1rem;
}

%mbm {
  margin-bottom: 1rem;
}

// small(.5rem)
%pvs {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

%phs {
  padding-left: .5rem;
  padding-right: .5rem;
}

%mrs {
  margin-right: .5rem;
}

%mls {
  margin-left: .5rem;
}

%mts {
  margin-top: .5rem;
}

%mbs {
  margin-bottom: .5rem;
}

// negative(-)
%-mhs {
  margin-left: -0.5rem;
  margin-right: -0.51rem;
}
