// Sizing
// @source - https://v4-alpha.getbootstrap.com/utilities/sizing/
// ----------------------------------

@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
   %#{$abbrev}-#{$size} {
      #{$prop}: $length;
    }
  }
}

// Some special sizes
%mw-100 {
  max-width: 100%;
}

%mh-100 {
  max-height: 100%;
}

%wh-100 {
  width: 100%;
  height: 100%;
}
