// Sizing
// @source - https://v4-alpha.getbootstrap.com/utilities/sizing/
// ----------------------------------

// %#{$abbrev}-#{$size}
@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
   %#{$abbrev}-#{$size} {
      #{$prop}: $length;
    }
  }
}

// %maxw-#{$prop}
@each $prop, $value in $container-max-widths {
  %maxw-#{$prop} {
    max-width: $value;
  };
}

// %minw-#{$prop}
@each $prop, $value in $screen-breakpoints {
  %minw-#{$prop} {
    min-width: $value;
  };
}

// %maxw-#{$prop}
@for $i from 1 through 10 {
  %maxw-#{$i * 10} {
    max-width: percentage($i / 10);
  }
}

// %minw-#{$prop}
@for $i from 1 through 10 {
  %minw-#{$i * 10} {
    max-width: percentage($i / 10);
  }
}

// Some special sizes
%mh-100 {
  max-height: 100%;
}

%wh-100 {
  width: 100%;
  height: 100%;
}

%w-auto {
  width: auto;
}

%h-auto {
  height: auto;
}
