// Spacing Shorthand placeholder
// @source - https://v4-alpha.getbootstrap.com/utilities/spacing/
// ----------------------------------


// Margin and Padding
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $lengths in $spacers {
    $length-x: map-get($lengths, x);
    $length-y: map-get($lengths, y);

    %#{$abbrev}-#{$size} {
      #{$prop}: $length-y $length-x;
    }
    %#{$abbrev}t-#{$size} {
      #{$prop}-top: $length-y;
    }
    %#{$abbrev}r-#{$size} {
      #{$prop}-right: $length-x;
    }
    %#{$abbrev}b-#{$size} {
      #{$prop}-bottom: $length-y;
    }
    %#{$abbrev}l-#{$size} {
      #{$prop}-left: $length-x;
    }
    %#{$abbrev}x-#{$size} {
      #{$prop}-right: $length-x;
      #{$prop}-left: $length-x;
    }
    %#{$abbrev}y-#{$size} {
      #{$prop}-top: $length-y;
      #{$prop}-bottom: $length-y;
    }
  }
}

// Some special margin utils
%m-auto {
  margin: auto;
}

%mt-auto {
  margin-top: auto;
}

%mr-auto {
  margin-right: auto;
}

%mb-auto {
  margin-bottom: auto;
}

%ml-auto {
  margin-left: auto;
}

%mx-auto {
  margin-right: auto;
  margin-left: auto;
}

%my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
