<div class="home has-header">
  <div class="container">
    <app-carousel></app-carousel>
    <div class="index">
      <div class="main">
        <app-collection></app-collection>
        <div class="split-line"></div>
        <app-thumbnail></app-thumbnail>
        <app-thumbnail></app-thumbnail>
        <app-thumbnail></app-thumbnail>
        <app-thumbnail></app-thumbnail>
        <app-placeholder></app-placeholder>
      </div>
      <div class="aside">
       <app-board></app-board>
       <app-download-app></app-download-app>
       <app-avatar>
        <a class="avatar" routerLink="/" target="_blank">
          <img src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144">
        </a>
        <a class="name" routerLink="/" target="_blank">刘淼</a>
       </app-avatar>
       <app-avatar>
        <a class="avatar" routerLink="/" target="_blank">
          <img src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144">
        </a>
        <a class="name" routerLink="/" target="_blank">刘淼</a>
       </app-avatar>
       <app-avatar></app-avatar>
       <app-avatar></app-avatar>
      </div>
    </div>
    <app-side-tool></app-side-tool>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
