@import "../../../theme/variables";

.home {
  display: flex;
  justify-content: center;
  min-width: $nav-bar-min-width;
}

.container {
  margin: 0 2rem;
}

.index {
  display: flex;
  max-width: $limit-min-width;
  margin: 4rem 0;
}

.main {
  flex: 2;

  .split-line {
    margin: -0.5rem 0 1.5rem;
    border-top: .1rem solid rgba($light, .2);
  }
}

.aside {
  flex: 1;
  margin-left: 4%;
}
