// Import utilities
// ----------------------------------
@import "../../scss/utilities/index";

// Home
.home {
  @include flex-box(
    d-flex,
    justify-content-center
  );
  @include sizing(minw-md);
}

// Index
.index {
  @include flex-box(d-flex);
  @include sizing(maxw-md);
  @include spacing(py-4, my-4);
}

// Main
.main {
  @include grid(col-md-16);
}

.main__split-line {
  @include atoms(
    separator
  );
}

// Aside
.aside {
  @include grid(col-md-7, col-md-offset-1);
}
