@import "../../../theme/theme";
@import "../../../theme/placeholder";

.home {
  @extend %block-center;

  min-width: $screen-breakpoints-sm;
}

.index {
  display: flex;

  max-width: $content-max-width;
}

.main {
  .split-line {
    @extend %separator;
  }
}
