<div class="home has-header">
  <div class="container">
    <app-carousel></app-carousel>
    <div class="index">
      <div class="main">
        <app-collection></app-collection>
        <div class="split-line"></div>
        <app-thumbnail></app-thumbnail>
        <app-thumbnail></app-thumbnail>
        <app-thumbnail></app-thumbnail>
        <app-thumbnail></app-thumbnail>
        <app-placeholder></app-placeholder>
      </div>
      <div class="aside">
       <app-board></app-board>
       <app-download-app></app-download-app>
       <app-avatar></app-avatar>
       <app-avatar></app-avatar>
       <app-avatar></app-avatar>
       <app-avatar></app-avatar>
      </div>
    </div>
    <div class="footer">
      foot
    </div>
  </div>
</div>
