// Import utilities
// ----------------------------------
@import "../../scss/utilities/index";

// Rules
// ----------------------------------

.signup {
  height: 100%;
  min-height: $nav-bar-min-width;
  text-align: center;
  font-size: $font-size-h5;
  background-color: rgba($gray-light, .1);
}

.logo {
  @include position(absolute, $top: 5.6rem);
  margin-left: 5rem;

  img {
    width: 10rem;
  }
}

.main {
  display: inline-block;
  width: 40rem;
  margin: 6rem auto 0;
  padding: 5rem 5rem 3rem;
  background-color: $body-bg;
  border-radius: $btn-default-border-radius;
  box-shadow: $card-box-shadow;
  box-sizing: border-box;
}

.title {
  margin: 0 auto 5rem;
  padding: 1rem;
  font-weight: 400;
  color: $gray-light;

  a {
    padding: 1rem;
    color: $gray-light;
  }

  b {
    padding: 1rem;
    font-weight: 700
  }

  .active {
    font-weight: 700;
    color: $primary;
    border-bottom: .2rem solid $primary;
  }
}

.container {
  form {
    margin-bottom: 3rem;
    @include form-border-radius("div", "1", "top");
    @include form-border-radius("div", "2", "bottom");
  }

  .input-elem {
    @include position(relative);
    width: 100%;

    input {
      width: 100%;
      height: 5rem;
      padding: .4rem 1.2rem .4rem 3.5rem;
      border: .1rem solid #c8c8c8;
      background-color: rgba($gray-light, .08);
      vertical-align: middle;
      box-sizing: border-box;

      &::placeholder {
        color: $gray-light;
      }
    }

    i {
      @include position(absolute, $top: 1.4rem, $left: 1rem);
      font-size: $font-size-h4;
      color: $gray-light;
    }
  }

  .restyle {
    input {
      border-bottom: none;
    }
  }

  .submit {
    @extend %btn-base;
    background: $balanced;
  }

  .remember {
    float: left;
    margin: 1.5rem 0;
  }

  .forget {
    float: right;
    margin: 1.5rem 0;

    a {
      color: $gray-light;

      &:hover {
        color: $gray-dark;
      }
    }
  }
}

.more-sign {
  margin-top: 3rem;

  h6 {
    @include position(relative);
    margin: 0 0 2rem;
    line-height: 1.1;
    color: #b5b5b5;

    &::before, &::after {
      content: "";
      display: block;
      @include position(absolute, $top: .5rem);
      width: 6rem;
      border-top: .1rem solid #b5b5b5;
    }

    &::before {
      left: 3rem;
    }

    &::after {
      right: 3rem;
    }
  }

  ul {
    margin-bottom: 3rem;

    li {
      display: inline-block;
      margin: 0 .3rem;
    }

    a {
      display: block;
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
      background-color: rgba($gray-light, .08);
      border-radius: 50%;
    }

    i {
      font-size: $font-size-h3;
      color: $body-bg;
    }

    .weibo {
      background-color: $primary;
    }

    .weixin {
      background-color: $secondary;
    }

    .qq {
      background-color: $balanced;
    }

    .other {
      background-color: rgba($gray-light, .2);
      i {
        color: $gray-light;
      }
    }
  }
}
