<div class="signup">
  <div class="logo">
    <a href="/">
      <img src="assets/images/logo_jianshu.png" alt="Logo">
    </a>
  </div>
  <div class="main">
    <h4 class="title">
      <a routerLink="/signin" routerLinkActive="active">登录</a>
      <b>·</b>
      <a routerLink="/signup" routerLinkActive="active">注册</a>
    </h4>
    <div class="container">
      <form class="new-user" action="" method="post">
        <div class="input-elem restyle">
          <input type="tel" name="mobileNumber" id="mobileNumber" placeholder="手机号或邮箱">
          <i class="iconfont ic-user"></i>
        </div>
        <div class="input-elem">
          <input type="password" name="passWord" id="passWord" placeholder="设置密码">
          <i class="iconfont ic-password"></i>
        </div>
        <!--TODO: Add geetest-->
        <div class="remember">
          <input type="checkbox" value="true" checked="checked" name="remember">
          <span>记住我</span>
        </div>
        <div class="forget">
          <a class="" href="">登录遇到问题?</a>
          <ul class="dropdown-menu hide">
            <li><a href="/">用手机号重置密码</a></li>
            <li><a href="/">用邮箱重置密码</a></li>
            <li><a href="/">无法用海外手机号登录</a></li>
            <li><a href="/">无法用 Google 帐号登录</a></li>
          </ul>
        </div>
        <input type="submit" name="commit" value="登录" class="submit">
      </form>
      <div class="more-sign">
        <h6>社交帐号登录</h6>
        <ul>
          <li>
            <a class="weibo" href="/users/auth/weibo">
              <i class="iconfont ic-weibo"></i>
            </a>
          </li>
          <li>
            <a class="weixin" href="/users/auth/wechat">
              <i class="iconfont ic-wechat"></i>
            </a>
          </li>
          <li>
            <a class="qq" href="/users/auth/qq_connect">
              <i class="iconfont ic-qq_connect"></i>
            </a>
          </li>
          <li>
            <a class="other" href="#">
              <i class="iconfont ic-more"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
