// Import
// ----------------------------------

@import "../../../theme/theme";
@import "../../../theme/placeholder";
@import "../../../theme/mixin";

// Props
// ----------------------------------

// @prop Content width
$post-content-width:              62rem !default;
// @prop Paragraph spacing
$article-paragraph-spacing:       2.5rem !default;
// @prop Paragraph fontSize
$article-paragraph-fontSize:      1.6rem !default;
// @prop Paragraph fontSize
$article-paragraph-color:         $black;
// @prop Notebook fontSize
$notebook-name-fontSize:          $h6-font-size;
// @prop Notebook fontSize
$notebook-name-color:             rgba($dark, .5);

// Rules
// ----------------------------------

// Note post
.note-post {
  @include center-horizontal;
  @include spacing(mbl, pvl);
  @extend %post-content-width;
}

// Article content
.post-article {
  @include spacing(ptl);
}

// Article author
.article-author {
  @include spacing(pvm, mbl);
}

// Article content
.article-content {
  // TODO: Need Refactor when api joined
  p {
    margin-bottom: $article-paragraph-spacing;
    font-size: $article-paragraph-fontSize;
    color: $article-paragraph-color;
  }
}

.image-package {
  @include image-package;
}

// Article foot
.article-foot {
  @include justify-content(space-between);
  @include spacing(pvl, mtl, mbm);
}

// Notebook
.notebook__icon,
.notebook__name {
  font-size: $notebook-name-fontSize;
  color: $notebook-name-color;
}

// Rights
.rights__report {
  @include spacing(mrl);
}

// Detail author
.follow-detail {
  @include spacing(pal);
  @include border(all, .1rem solid #e1e1e1, $rad: $btn-default-border-radius);

  background-color: rgba($light, .05);
  font-size: $h6-font-size;
}

.follow-detail__signature {
  @include spacing(ptl, mtl);
  @include border(top, .1rem solid #e1e1e1);
  @extend %ellipsis;

  color: $light;
}

// Support author
.support-author {
  @include spacing(pvl, mtm);
  @include border(bottom, .1rem solid #f0f0f0);
  @include inline-alignment($text: center);
}

.support-author__show {
  @include spacing(phl, mhm, mbl);

  min-height: 2.4rem;
  font-size: 1.7rem;
}

.support-author__pay {
  @include btn(
    $size: (0, 2.5rem, 1.6rem, 3.8rem, .4rem),
    $variant: (#fff, $primary, $primary)
  );
}

// Supporter
.supporter {
  @include spacing(mtl);
}

.supporter__item {
  @include display(inline-block);
  @include spacing(-mhs);
}

.supporter__avatar {
  @include display(block);

  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.supporter__img {
  @extend %img-responsive;
  @include border(all, .3rem solid #fff, $rad: 50%);
}

// Meta bottom
.meta-bottom {
  @include flex-box(flex, space-between, center);
  @include spacing(ptm, mtl);
}

// Like
.like__btn-group {
  @include border(all, .1rem solid $primary, 4rem);
}

.like__btn-like {
  @include btn(
    $size: (1.5rem, 3rem, 1.9rem, normal, 0),
    $variant: ($primary, transparent, transparent)
  );
}

.like__btn-modal {
  @include btn(
    $size: (0, 3rem, $h4-font-size, normal, 0),
    $variant: ($primary, transparent, transparent)
  );
  @include border(left, .1rem solid $primary);
}

// Share
.share__item {
  @include display(inline-block);
  @include spacing(mls);
  @include inline-alignment($text: center, $vertical: middle);
  @include border(all, .1rem solid #dcdcdc, 50%);

  &:hover {
    background-color: hsla(0,0%,71%,.1);
  }

  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.share__icon {
  @include spacing(mtm);

  font-size: 2.4rem;
  line-height: 2;
}

// Iconfont
.ic-wechat {
  color: $secondary;
}

.ic-weibo {
  color: $primary;
}

.ic-picture {
  color: $balanced;
}

.share__item_more {
  @extend .share__item;
  @include spacing(pvs, phl);
  @include border-radius(5rem);

  width: auto;
  font-size: 1.4rem;
  color: #9b9b9b;
  line-height: 4rem;
}

// Bottom
.note-bottom {
  @include flex-box(flex, $align-items: center, $direction: column);
  @include spacing(pvl);

  min-height: 21.3rem;
  background-color: #f5f5f5;
  // padding-top: 4rem;
  // padding-bottom: 4rem;
}

// Bottom main
.bottom-main {
  @include spacing(pbl);

  width: $post-limit-width;
}

// Meta
.meta {
  @include spacing(pbm, mbs);

  font-size: 1.5rem;
  color: #a0a0a0;
}

// Recommend note
.recommend-note {
  width: $post-limit-width;
}
