// Import utilities
// ----------------------------------
@import "../../scss/utilities/index";


// Note post
.note-post {
  @include atoms(
    center-block
  );
  @include spacing(mb-4, py-4);
  @include sizing-custom($note-post-width);
}

// Article content
.post-article {
  @include spacing(pt-4);
}

// Article author
.article-author {
  @include spacing(py-1, mb-4);
}

// Article content
.article-content {
  // TODO: Need Refactor when api joined
  p {
    @include spacing(mb-5);
    @include font-size(fs-16);
    @include colors(text-gray-darker);
  }
}

.image-package {
  @include atoms(
    image-package
  );
}

// Article foot
.article-foot {
  @include flex-box(
    d-flex,
    justify-content-between
  );
  @include spacing(py-4, mt-4, mb-5);
}

// Notebook
.notebook__icon,
.notebook__name,
.rights {
  @include colors(text-gray-lighter);
  @include font-size(h6);
}

// Rights
.rights__report {
  @include spacing(mr-4);
}

// Detail author
.follow-detail {
  @include spacing(p-4);
  @include border(all, .1rem solid #e1e1e1, $rad: $btn-default-border-radius);
  @include font-size(h6);
  @include colors(bg-gray-lighter);
}

.follow-detail__signature {
  @include spacing(pt-4, mt-4);
  @include border(top, .1rem solid #e1e1e1);
  @include text(text-truncate);
  @include colors(text-gray-light);
}

// Support author
.support-author {
  @include spacing(py-4, mt-5);
  @include border(bottom, .1rem solid #f0f0f0);
  @include text(text-center);
}

.support-author__show {
  @include spacing(px-4, mx-5, mb-4);
  @include font-size(fs-17);

  min-height: 2.4rem;
}

.support-author__pay {
  @include btn(
    $size: (0, 2.5rem, 1.6rem, 3.8rem, .4rem),
    $variant: (#fff, $primary, $primary)
  );
}

// Supporter
.supporter {
  @include spacing(mt-4);
}

.supporter__item {
  @include display(d-inline-block);

  // @include spacing(-mhs);
}

.supporter__avatar {
  @include display(d-block);
  @include sizing-custom(4rem, 4rem);

  cursor: pointer;
}

.supporter__img {
  @extend %img-responsive;
  @include border(all, .3rem solid #fff, $rad: 50%);
}

// Meta bottom
.meta-bottom {
  @include flex-box(
    d-flex,
    justify-content-between,
    align-items-center
  );
  @include spacing(pt-5, mt-4);
}

// Like
.like__btn-group {
  @include border(all, .1rem solid $primary, 4rem);
}

.like__btn-like {
  @include btn(
    $size: (1.5rem, 3rem, 1.9rem, normal, 0),
    $variant: ($primary, transparent, transparent)
  );
}

.like__btn-modal {
  @include btn(
    $size: (0, 3rem, 1.8rem, normal, 0),
    $variant: ($primary, transparent, transparent)
  );
  @include border(left, .1rem solid $primary);
}

// Share
.share__item {
  @include display(d-block);
  @include spacing(ml-1);
  @include inline-alignment($text: center, $vertical: middle);
  @include border(all, .1rem solid #dcdcdc, 50%);
  @include sizing-custom(5rem, 5rem);

  &:hover {
    @include colors(bg-gray-lighter);
  }

  cursor: pointer;
}

.share__icon {
  @include spacing(mt-5);
  @include font-size(fs-24);

  line-height: 2;
}

// Iconfont
.ic-wechat {
  @include colors(text-success);
}

.ic-weibo {
  @include colors(text-primary);
}

.ic-picture {
  @include colors(text-info);
}

.share__item_more {
  @extend .share__item;
  @include spacing(py-1, px-4);
  @include border-radius(5rem);
  @include font-size(fs-14);
  @include colors(text-gray-light);
  @include sizing(w-auto);

  line-height: 4rem;
}

// Bottom
.note-bottom {
  @include flex-box(
    d-flex,
    align-items-center,
    flex-column
  );
  @include spacing(py-4);
  // @include colors();

  min-height: 21.3rem;
  background-color: #f5f5f5;
  // padding-top: 4rem;
  // padding-bottom: 4rem;
}

// Bottom main
.bottom-main {
  @include spacing(pb-4);
  @include sizing-custom($note-post-width);
}

// Meta
.meta {
  @include spacing(pb-5, mb-1);
  @include font-size(h4);

  color: #a0a0a0;
}

// Recommend note
.recommend-note {
  @include sizing-custom($note-post-width);
}
