// Import utilities
// ----------------------------------
@import "../../theme/scss/utilities/index";


// Note post
.note-post {
  @include atoms(
    center-block
  );
  @include spacing(mb-4, py-4);
  @include sizing-custom($note-post-width);
}

// Article author
.article-author {
  @include spacing(py-4, mb-4);
}

// Article content
.article-content {
  // TODO: Need Refactor when api joined
  p {
    @include spacing(mb-5);
    @include font-size(fs-16);
    @include variant(text-gray-darker);
  }
}

.image-package {
  @include atoms(
    image-package
  );
}

// Article foot
.article-foot {
  @include flex-box(
    d-flex,
    justify-content-between
  );
  @include spacing(py-4, mt-4, mb-5);
}

// Notebook
.notebook__icon,
.notebook__name,
.rights {
  @include font-size(h6);
  @include variant(text-gray);
}

// Rights
.rights__report {
  @include spacing(mr-4);
}

// Detail author
.follow-detail {
  @include spacing(p-4);
  @include font-size(h6);
  @include border(border-1, solid, rounded-base);
  @include variant(bg-gray-lighter, border-gray-light);
}

.follow-detail__signature {
  @include spacing(pt-4, mt-4);
  @include text(text-truncate);
  @include border(border-top-1, solid-top);
  @include variant(text-gray, border-gray-light);
}

// Support author
.support-author {
  @include spacing(py-4, mt-5);
  @include text(text-center);
  @include border(border-bottom-2, solid-bottom);
  @include variant(border-gray-lighter);
}

.support-author__show {
  @include spacing(px-4, mx-5, mb-4);
  @include font-size(fs-17);
}

.support-author__pay {
  @include button(
    $size: (py-0, px-5, fs-16, line-height-38, rounded-base),
    $variant: (text-white, bg-primary, border-primary)
  );
}

// Supporter
.supporter {
  @include spacing(mt-4);
}

.supporter__item {
  @include display(d-inline-block);
  @include spacing(-mx-1);
}

.supporter__avatar {
  @include display(d-block);
  @include sizing-custom(4rem, 4rem);
}

.supporter__img {
  @include atoms(image-fluid);
  @include border(border-3, solid, rounded-circle);
  @include variant(border-white);
}

// Meta bottom
.meta-bottom {
  @include flex-box(
    d-flex,
    justify-content-between,
    align-items-center
  );
  @include spacing(pt-5, mt-4);
}

// Like
.like__btn-group {
  @include border(border-1, solid, rounded-lg);
  @include variant(border-primary);
}

.like__btn-like {
  @include button(
    $size: (py-4, px-5, fs-19),
    $variant: (text-primary, bg-transparent, border-transparent)
  );
}

.like__btn-modal {
  @include button(
    $size: (px-5, fs-18),
    $variant: (text-primary)
  );
  @include border(border-left-1, solid-left);
  @include variant(border-primary);
}

// Share
%share__item {
  @include atoms(
    text-center,
    align-middle,
    cursor-pointer
  );
  @include display(d-inline-block);
  @include spacing(ml-1);
  @include variant(text-gray, border-gray-light);
}

.share__item {
  @extend %share__item;

  @include sizing-custom(5rem, 5rem);
  @include border(border-1, solid, rounded-circle);
}

.share__icon {
  @include atoms(line-height-lg);
  @include spacing(mt-5);
  @include font-size(fs-24);
}

// Iconfont
.ic-wechat {
  @include variant(text-success);
}

.ic-weibo {
  @include variant(text-primary);
}

.ic-picture {
  @include variant(text-info);
}

.share__item_more {
  @extend %share__item;

  @include atoms(line-height-40);
  @include sizing(w-auto);
  @include spacing(py-1, px-4);
  @include font-size(fs-14);
  @include border(border-1, solid, rounded-lg);
}

// Bottom
.note-bottom {
  @include flex-box(
    d-flex,
    align-items-center,
    flex-column
  );
  @include spacing(py-6);
  @include variant(bg-gray-lighter);
}

// Bottom main
.bottom-main {
  @include spacing(pb-4);
  @include sizing-custom($note-post-width);
}

// Meta
.meta {
  @include spacing(pb-5, mb-1);
  @include font-size(h4);
  @include variant(text-gray);
}

// Recommend note
.recommend-note {
  @include sizing-custom($note-post-width);
}
