<div class="note has-header">
  <div class="post">
    <div class="article">
      <h1 class="title">你的自律，正在慢慢逼疯你</h1>
        <!-- 作者区域 -->
        <div class="author">
          <app-avatar></app-avatar>
          <!-- 如果是当前作者，加入编辑按钮 -->
        </div>
        <!-- 文章内容 -->
        <div class="content">
          <div class="rich_media_content">
            <div class="image-package">
              <img src="//upload-images.jianshu.io/upload_images/1933412-809dde1a74646886?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/1933412-809dde1a74646886?imageMogr2/auto-orient/strip" style="cursor: zoom-in;"><br><div class="image-caption"></div>
            </div>
            <p><strong>文&nbsp;| 一棵花白</strong></p>
            <p><strong>01</strong></p>
            <p><strong>不知从什么时候开始，自律被包装成了一个洋气时尚高大上的词汇。</strong></p>
            <p>当我们谈自律时，我们谈的是乔布斯，四点半起床九点做完一天的工作。我们谈的是李嘉诚，不论几点睡觉都能六点起床，紧接着就听新闻打高尔夫，一个半小时后上班。</p>
            <p>和他们相比，我等凡人们对自己的常规要求，简直好像连自律的及格线都达不到。</p>
            <p>于是越来越多的年轻人变得焦虑。看电视剧时焦虑，生怕在你看电视的时候室友背完了雅思单词。吃美食时焦虑，想到那些每天运动又控制饮食的人就痛恨自己又懒又馋。睡觉前焦虑，觉得今天和昨天没什么区别，于是舍不得睡觉。</p>
            <p><strong>02</strong></p>
            <p>我可以说是非常抵触这种全民都在谈自律的风气了。</p>
            <p>舆论鼓吹的那种近乎严苛的自律，已经引起了很大范围的焦虑，让人愈来愈丧失掉享受生活的能力。</p>
            <p><strong>凡事过犹不及，自律更是如此。</strong></p>
            <p>曾经有一个作者深夜来找我倾诉，说他觉得自己很失败，看不到前途。</p>
            <p>“我都二十四岁了，还是不成功，什么都没有，没有车没有房，事业上也没有进展，每次想到这些我都睡不好。”</p>
            <p>听完这句话，我的第一感觉是，他太着急了。</p>
            <p>我安慰道：<strong>“二十多岁不成功很正常啊，我们都不是富二代官二代，也不是绝顶聪明清北毕业，更没有小说主角那样逆天的运气，我们都只是普通人而已啊。毕业没多久，工作不稳定，身为职场新人，都是从零开始，大家都一样。”</strong></p>
            <p>他似是没听到，继续自顾自地说：“我觉得自己太堕落了，每天六点起床，读上几十页书，又会忍不住回去睡一会儿。有时候还会忍不住玩手机。”</p>
            <p>“白天上完班之后，打一个小时篮球或者是跑步，晚上回来写两三个小时文章。我每次都写得特别充实，一篇三四千字，可是阅读量又很差。结果一天就这么过去了，我好像没希望超过你了。”</p>
            <p><strong>03</strong></p>
            <p><strong>少年，你其实不用对自己这么狠。就单单每天早晨六点起床这一点，你已经打败了百分之九十九的同龄人。</strong></p>
            <p>我说：“你不用把自己的生活安排得这么满满当当的，你太着急了。每个人的精力都是有限的，你每天写稿子到半夜精神特别兴奋，早晨又要六点起床，紧接着要上八个小时班，长此以往你一定会累垮的。你睡回笼觉就只是因为你没睡饱啊！”</p>
            <p>即便自律如作家村上春树，也是把每天的事情都集中在几个小时之内去做，下午只做一些不费脑子的事情，日落之后就不再工作。</p>
            <p><strong>我们本来就囿于繁重的工作中，剥削走了很大一部分精力，再去想方设法榨干自己其实是很不科学的。</strong></p>
            <p>自律在我看来，其实没有那么严苛。只要你该吃饭的时候吃饭，该睡觉的时候睡觉，该做的事情做好就行了。</p>
            <p>你给一天安排十几个任务，最终可能的结果就是十几个任务都完成的不怎么样。与其这样，还不如集中精力把一两件事情做好。</p>
            <p><strong>04</strong></p>
            <p>我曾经有一个同事，她是一个熬夜狂魔。年纪渐长，却还在最底层拿着并不优渥的薪水，做着没有技术含量的工作。她每天都会因为各种各样的原因凌晨三四点睡觉。由于睡不好，经常是一副头发凌乱睡眼惺忪的样子。</p>
            <p>虽然她看上去很努力，好像有很多想法，标榜自律，但是办事效率极低。领导交待她制一个很简单的表格，她就能耗上三四个小时。每天她看上去都很累，却总是交不出什么像样的结果。</p>
            <p>后来我观察发现，她开始做一件事之前，要焦虑好几个小时。她常常会同时开始很多项任务，每日清单上的事项一定是满满当当的。她可能真的有大干一场的雄心壮志，但是也是真的做不到。</p>
            <p>于是更加焦虑，形成恶性循环。</p>
            <p><strong>05</strong></p>
            <p>自律其实真的不是这样的。一个人基本的生理需求就是吃好睡好，不要因为其他的事情影响这两项基本需求。</p>
            <p><strong>一夜安寝，可得一日精神饱满。三餐稳妥，才有体力去解决那些困难。吃好睡好，工作效率必然提升。</strong></p>
            <p>如果你想要保证吃饭睡觉雷打不动，必然需要对工作任务和生活安排有所调整。</p>
            <p>熬夜并不能代表你勤奋，只能说明你没有安排好自己的时间。列清单也并不能显示你的能力，只有落实到行动上，保质保量地完成工作量才算数。</p>
            <p><strong>一个连正常的吃饭睡觉都不能保证的人，连自己都照顾不好，还谈什么自律。</strong></p>
            <p>如果还有人问我，如何成为一个自律的人，我的回答一定是：“好好吃饭，好好睡觉，好好照顾自己。”</p>
            <p>自律其实就是这么简单，一点都不洋气时尚高大上，不是只有人中龙凤才能做到，也不是一定要每一个小时都满满当当，活成机器也还挺没意思的。没必要为了自律而焦虑，吃好睡好，人生最重要的就是开心。</p>
          </div>
        </div>

        <div class="foot">
          <a class="notebook" href="">
            <i class="iconfont ic-search-notebook"></i>
            <span>生活再操蛋还是得继续啊</span>
          </a>
          <div class="copyright">
            <span class="report" id="report-modal">举报文章</span>
            <span data-toggle="tooltip" data-html="true" data-original-title="转载请联系作者获得授权，并标注“简书作者”。">
              © 著作权归作者所有
            </span>
          </div>
        </div>
    </div>

    <div class="follow-detail">
      <div class="info">
        <app-avatar></app-avatar>
      </div>
      <div class="signature">官方专题【人物】主编。微信公众号：一棵花白(yikehuabai)</div>
    </div>

  </div>
  <app-side-tool></app-side-tool>
</div>

