/* You can add global styles to this file, and also import other style files */
@import "./theme/variables.scss";

// Reset styles
html {
  font-size: 62.5%;
}

ul, li, a, img, h2 {
  margin: 0;
  padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

// global styles
.has-header {
  margin-top: $nav-bar-height;
}