// Import utilities
// ----------------------------------
@import "../../scss/utilities/index";

// Rules
// ----------------------------------

.writer {
  display: flex;
  height: 100%;
}

.dropdown-menu {
  display: none;
}

.aside {
  flex: 0 0 17%;
  min-height: 3rem;
  background-color: #3f3f3f;
  overflow-y: auto;
  overflow-x: hidden;

  .home-wrap {
    padding: 3rem 1.9rem .5rem 0;
    text-align: center;

    .go-home {
      display: block;
      font-size: 15px;
      color: $primary;
      border: .1rem solid $primary;
    }
  }

  .new-notebook {
    padding: 0 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

    .create-notebook {
      font-size: 11px;
      font-weight: normal;
      line-height: 2rem;
      color: #fff;
    }
  }

  .notebooks {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2rem;
    font-size: 15px;

    .item {
      position: relative;
      height: 4rem;
      line-height: 4rem;

      .notebook-name {
        display: block;
        height: 40px;
        margin-left: -15px;
        margin-right: -15px;
        color: whitesmoke;

        span {
          position: absolute;
          left: 0;
          right: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .edit-notebook {
        position: absolute;
        top: 0;
        right: 0;
        color: #a0a0a0;
      }

      a:hover {
        background-color: #646464;
      }
    }

    .active {
      .notebook-name {
        background-color: #646464;
        border-left: 3px solid #ec7259;
      }
    }
  }

  .commercial {
    .go-recycle {
      display: block;
      padding: 20px 0 30px 15px;
      font-size: 14px;
      color: #999999;

      i {
        margin-right: 5px;
        font-size: 22px;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
      }
    }
  }

}

.middle {
  flex: 0 0 25%;
  border-right: 1px solid #d9d9d9;
  overflow-y: auto;
  overflow-x: hidden;

  .notes-list {
    .new-note-link {
      display: block;
      padding: 20px 0 20px 25px;
      font-size: 14px;
      color: #555555;

      i {
        margin-right: 5px;
        font-size: 18px;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
      }
    }

    .note {
      position: relative;
      height: 90px;
      border-top: 1px solid #dcdcdc;
      border-left: 5px solid transparent;

      .icon-note {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 22px;
        height: 30px;
      }

      .note-icon {
        background-position: -50px -25px;
        background-image: url("../../../assets/images/sprite_writer.png");
        background-repeat: no-repeat;
        background-size: 250px;
      }

      .title {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 15px 30px 15px 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        font-weight: normal;
        line-height: 36px;
        color: #2f2f2f;
      }

      .abbreviate {
        position: absolute;
        top: 40px;
        left: 60px;
        right: 40px;
        max-height: 30px;
        height: 30px;
        margin: 0;
        color: #555555;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 11px;
        font-weight: normal;
        line-height: 36px;
      }

      .wordage {
        position: absolute;
        bottom: 2px;
        left: 5px;
        font-size: 9px;
        font-weight: normal;
        line-height: 16px;
        color: #555555;
      }

      .share-note {
        position: absolute;
        padding: 0;
        right: 26px;
        top: 35px;
        font-size: 16px;
        color: #a0a0a0 !important;
      }
    }

    .new-note-bottom {
      .new-note-link {
        color: #999999;
        font-size: 12px;
        font-weight: normal;
        line-height: 20px;

        i {
          font-size: inherit;
        }
      }
    }

    .active {
      background-color: #ececec;
      color: #eeeeee;
      border-left: 5px solid #ec7259;
    }

  }

}

.main {
  flex: 0 0 58%;
  padding: 20px 0 0 0;
  overflow-y: auto;
  overflow-x: hidden;

  .note-form {
    height: 100%;

    .title {
      width: 100%;
      height: 50px;
      border: none;
      outline: none;
      padding: 0 30px 10px 40px;
      border-bottom: 1px solid #d9d9d9;
      font-size: 30px;
      font-weight: normal;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: 0;
      box-shadow: none;
    }

    .toolbar {
      background-color: #dedede;
      border-bottom: 1px solid #d9d9d9;

      li {
        display: inline-block;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
      }

      a {
        padding: 11px 14px;
        display: inline-block;
        line-height: 17px;
        color: #555555;

        &:hover {
          background-color: #555555;
          color: white;
          text-decoration: inherit;
        }
      }
    }

    .text {
      width: 100%;
      height: 100%;
      padding: 40px 40px 0;
      margin-bottom: 0;
      resize: none;
      color: #2f2f2f;
      font-size: 18px;
      font-weight: normal;
      line-height: 30px;
      border: none;
      outline: none;
    }
  }
}
