<div class="writer">
  <div class="aside">
    <div class="home-wrap">
      <a class="btn go-home" routerLink="/">
        回首页
      </a>
    </div>
    <div class="new-notebook">
      <span class="create-notebook">
        <i class="fa fa-plus"></i> 新建文集
      </span>
    </div>
    <ul class="notebooks">
      <li class="item active">
        <a href="javascript:void(0)" class="notebook-name">
          <span>前端</span>
        </a>
        <a href="javascript:void(0)" class="edit-notebook">
          <i class="fa fa-gear"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-pencil-square-o"></i>修改文集名
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-trash-o"></i>删除文集
            </a>
          </li>
        </ul>
      </li>
      <li class="item">
        <a href="javascript:void(0)" class="notebook-name">
          <span>草稿</span>
        </a>
        <!--<a href="javascript:void(0)" class="edit-notebook">
          <i class="fa fa-gear"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-pencil-square-o"></i>修改文集名
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-trash-o"></i>删除文集
            </a>
          </li>
        </ul>-->
      </li>
    </ul>
    <div class="commercial">
      <a class="go-recycle" href="javascript:void(0)">
        <i class="fa fa-trash"></i><span>回收站</span>
      </a>
    </div>
  </div>
  <div class="middle">
    middle
  </div>
  <div class="main">
    main
  </div>
</div>
