// Import utilities
// ----------------------------------
@import "../../../theme/scss/utilities/index";

// Rules
// ----------------------------------

.side-tool {
  @include position(fixed, $bottom: 4rem, $right: 4rem);
  z-index: 998;

  li {
    width: 5rem;
    height: 5rem;
    line-height: 2rem;
    background-color: $body-bg;
    border: .1rem solid rgba($gray-light, .25);
  }

  a {
    display: block;
    text-align: center;
    color: $gray-dark;
  }

  i {
    display: block;
    padding-top: 1.6rem;
    font-size: $icon-font-size;
  }
}
