// Import utilities
// ----------------------------------
@import "../../scss/utilities/index";

// Rules
// ----------------------------------

.collection {
  margin-bottom: 2rem;

  a {
    display: inline-block;
    margin: 0 1.8rem 1.8rem 0;
    min-height: 3.2rem;
    color: $gray-dark;
    background-color: rgba($gray-light, .06);
    border: .1rem solid rgba($gray-light, .2);
    border-radius: $btn-default-border-radius;
    overflow: hidden;
  }

  img {
    width: 3.2rem;
    vertical-align: middle;
  }

  .name {
    display: inline-block;
    padding: 0 1.1rem 0 .6rem;
    vertical-align: middle;
    @include font-size(h5);
  }

  .more {
    line-height: 3.2rem;
    @include font-size(h5);
    color: $gray-light;
    border: none;
    background-color: $body-bg;
  }
}
